/** HEADER css **/
.scrollProgressBar {
	background: #2888cf;
	bottom: 0;
	display: block;
	height: 1px;
	left: 0;
	position: fixed;
	z-index: 1;
}
.header {
	background: $white;
	border-bottom: 1px solid #f3f3f3;
	display: block;
	left: 0;
	padding: 8px 0;
	position: fixed;
	right: 0;
	top: 0;
	@include transition;
	@include translate3d(0,0,0);
	z-index: 999;

	&.logged-in {
		padding: 8px 0;
	}

	&.stick {
		background: rgba(255, 255, 255, 0.98);
		border: 0;
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.25));
		padding: 6px 0;
	}

	&.logged-in.stick {
		padding: 6px 0;
	}

	& .logo {
		display: block;
		float: left;
		width: 243px;

		& img {
			display: block;
			@include transition;
		}
	}
	&.stick {
		& .logo img {
		 max-width: 190px;
	 }
	}
}


.phone-no {
	background: url("../images/telephone-icon.png") no-repeat left;
	display: block;
	float: right;
	font-size: 2.85em;
	margin: 36px 105px 0 0;
	padding: 0 0 0 60px;

	& a {
		color: #8d8d8d;

		&:hover {
			color: #df001f;
		}
	}
}

.topnav {
	float: right;
	margin: 37px 0 0;
	padding: 0;
	@include transition;

	&.not-logged-in {
		margin: 20px 0 0;
	}

	& .navbar-collapse {
		padding: 0;
	}

	& ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			float: left;
			font-family: $alt-font-heavy;
			font-size: 1.1em;
			letter-spacing: 0.01em;
			line-height: $lh-single;
			list-style: none;
			margin: 0 0 0 70px;
			position: relative;
			text-transform: uppercase;
			@include transition;

			&:last-child {
				border-right: 0;
				padding-right: 0;
			}

			&:first-child {
				margin-left: 0;
				padding-left: 0;
			}

			&.active > a,
			&:hover > a {
				color: #0e7bcb;
			}

			&.login {
				margin-left: 75px;

				& .fa {
					margin-right: 5px;
				}

				&:before {
					background: #d1d1d1;
					content: "";
					display: block;
					height: 12px;
					left: -32px;
					position: absolute;
					top: 1px;
					width: 2px;
					@include breakpoint(large) {
						top: 0;
					}
				}
			}

			& a {
				color: #707070;
				display: block;
				padding: 0 0 20px;
			}

			&:hover > ul {
				display: block;
			}

			&.hassub > ul {
				&:after,
				&:before {
					bottom: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					left: 50%;
					pointer-events: none;
					position: absolute;
					width: 0;
				}

				&:after {
					border-color: rgba(255, 255, 255, 0);
					border-bottom-color: #fff;
					border-width: 10px;
					margin-left: -10px;
				}

				&:before {
					border-color: rgba(204, 204, 204, 0);
					border-bottom-color: #ccc;
					border-width: 11px;
					margin-left: -11px;
				}

				& li {
					&.hassub > ul {
						&:after,
						&:before {
							display: none;
						}
					}
				}
			}
		}

		& ul {
			//Second level menu starts here
			background: $white;
			border: 1px solid rgba(0,0,0,0.15);
			@include box-shadow(0 6px 12px rgba(0,0,0,0.175));
			display: none;
			left: 50%;
			margin-left: -100px;
			max-width: 300px;
			padding: 5px 0;
			position: absolute;
			text-align: left;
			top: 100%;
			width: 200px;
			z-index: 4;

			& li {
				&:hover > a {
					background: #f7f7f7;
				}
			}

			& a {
				padding: 8px 10px;
			}

			& ul {
				top: -6px;
				left: 140%;
				z-index: 5;
			}
		}
	}
}

.header.stick .topnav {
	margin: 22px 0 0;

	&.not-logged-in {
		margin: 12px 0 0;
	}

	& ul li {
		padding-bottom: 0;
		padding-top: 5px;
		&.login{
			padding-top: 0;
		}

		&.login:before {
			top: 6px;
			@include breakpoint(large) {
				top: 5px;
			}
		}
	}
}

.topnav.not-logged-in li.login {
	text-align: right;

	&:before {
		display: none;
	}

	& p {
		color: #707070;
		font-family: $main-font-medium;
		font-size: 0.85em;
		margin: 0 0 15px;
		text-transform: none;
	}

	& a {
		color: #0e7bcb;
		padding: 0;

		&:hover {
			color: #000;
		}
	}
}

.topnav.center {
	float: none;
	margin: 32px 0 0;
	text-align: center;

	& ul {
		& ul li {
			display: block;
			float: none;
			font-size: 1em;
			margin: 0;
			text-transform: capitalize;
		}
	}

	& ul li {
		display: inline-block;
		float: none;
		font-family: $main-font-medium;
		font-size: 0.92em;
		margin: 0 25px;
		@include breakpoint(large) {
			margin: 0 15px;
		}
	}
}

.hdr-user-area {
	display: block;
	float: right;
	margin: 16px 0 0;
	@include transition;
}

.header.logged-in.stick .hdr-user-area {
	margin: 8px 0 0;
}

.hdr-search-box {
	display: inline-block;
	margin: 0 20px 0 0;
	position: relative;
	vertical-align: middle;
	width: 30px;
	@include placeholder {
		color: $primary-color;
		font-weight: normal;
	}
}

.search-box {
	background-color: transparent;
	@include transition;
	border: none;
	@include border-radius(2px);
	color: $primary-color;
	cursor: pointer;
	font-size: 0.95em;
	height: 26px;
	position: absolute;
	right: 0;
	width: 26px;
	z-index: 5;

	&:hover {
		color: $white;
		background: $white;
		@include box-shadow(0 0 0 1px #0e7bcb);
	}

	&:focus {
		-webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
		transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
		border: none;
		outline: none;
		@include box-shadow(none);
		padding-left: 15px;
		cursor: text;
		width: 300px;
		padding-right: 40px;
		@include border-radius(auto);
		background: #ebebeb;
		color: black;

		& + label .search-icon {
			color: #000;
		}
	}

	&:not(:focus) {
		text-indent: -10000px;
	}

	& + label {
		position: absolute;
		right: 5px;
		top: 3px;
		z-index: 6;

		& .search-icon {
			background: url("../images/search-lens.png") no-repeat center;
			background-size: 99% auto;
			display: block;
			height: 17px;
			position: relative;
			cursor: pointer;
			@include transition;
			width: 17px;
		}
	}
}

#search-submit {
	position: relative;
	left: -10000px;
}

.contracts-wrap .dropdown-menu,
.header .dropdown-menu {
	left: auto;
	min-width: 200px;
	padding-bottom: 0;
	right: 0;
	& > li {
		padding: 0 10px;

		&:last-of-type > a {
			border-bottom: 0;
		}

		& > a {
			border-bottom: 1px solid #dddede;
			font-size: 1em;
			padding: 8px 15px;

			&:focus,
			&:hover {
				background-color: #ffffff;
				color: #0e7bcb;
			}

			&:focus .fa,
			&:hover .fa {
				color: #0e7bcb;
			}
		}
	}

	&:after,
	&:before {
		border: solid transparent;
		border-width: 12px;
		margin-left: -12px;
		bottom: 100%;
		content: " ";
		height: 0;
		left: 75%;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		margin-bottom: -0.085em;
	}

	&:before {
		border-color: rgba(204, 204, 204, 0);
		border-bottom-color: #ccc;
	}

	& .fa {
		color: #ababab;
		left: -6px;
		position: relative;
		@include transition;
	}
}

.contracts-wrap .dropdown,
.header .dropdown {
	display: inline-block;
}

.animated.fast {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}
@-webkit-keyframes fadeInUpSmall {
	0% {
		@include opacity(0);
		@include translate3d(0, 10%, 0);
	}

	to {
		@include opacity(1);
		@include translate3d(0, 0, 0);
	}
}
@keyframes fadeInUpSmall {
	0% {
		@include opacity(0);
		@include translate3d(0, 10%, 0);
	}

	to {
		@include opacity(1);
		@include translate3d(0, 0, 0);
	}
}

.fadeInUpSmall {
	-webkit-animation-name: fadeInUpSmall;
	animation-name: fadeInUpSmall;
}

.notifications {
	display: inline-block;
	position: relative;
	top: -0.04em;
	vertical-align: middle;

	& a.notif-area {
		background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJub3RpZmljYXRpb24tYmVsbCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMjIgMCA2MTIgNjU2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4gICAgPHBhdGggZmlsbD0iIzVmNWY1ZiIgZD0iTTU0Ni40MjksMzkzLjQzVjIxOC41NzJDNTQ2LjQyOSw5Ny44NTQsNDQ4LjU3NCwwLDMyNy44NTcsMEMyMDcuMTQsMCwxMDkuMjg2LDk3Ljg1NCwxMDkuMjg2LDIxOC41NzJWMzkzLjQzTDIxLjg1Nyw1NjguMjg2aDE5OC45MjJjMTAuMTIsNDkuODc4LDU0LjIwNiw4Ny40MjksMTA3LjA3OSw4Ny40MjljNTIuODcxLDAsOTYuOTU4LTM3LjU1MSwxMDcuMDc3LTg3LjQyOWgxOTguOTIzTDU0Ni40MjksMzkzLjQzeiBNMzI3Ljg1Nyw2MTJjLTI4LjUwMiwwLTUyLjUyMi0xOC4yOTQtNjEuNTUtNDMuNzE0aDEyMy4xMjFDMzgwLjM4LDU5My43MDYsMzU2LjM1OSw2MTIsMzI3Ljg1Nyw2MTJ6IE04Ny40MjksNTI0LjU3MUwxNTMsMzkzLjQzVjIxOC41NzJjMC05Ni41NjUsNzguMjkyLTE3NC44NTcsMTc0Ljg1Ny0xNzQuODU3Yzk2LjU2MywwLDE3NC44NTYsNzguMjkyLDE3NC44NTYsMTc0Ljg1N1YzOTMuNDNsNjUuNTcxLDEzMS4xNDNMODcuNDI5LDUyNC41NzFMODcuNDI5LDUyNC41NzF6Ii8+PC9zdmc+IA==");
		background-size: 100%;
		display: inline-block;
		height: 19px;
		position: relative;
		@include transition(none);
		vertical-align: middle;
		width: 18px;

		&.new:after {
			background: #dc5656;
			@include border-radius(50%);
			content: "";
			display: block;
			height: 6px;
			position: absolute;
			right: -3px;
			top: -5px;
			animation-name: pulse;
			-webkit-animation-name: pulse;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			width: 6px;
		}
	}

	& .dropdown-menu {
		left: auto;
		max-width: 300px;
		right: -20px;
		top: 32px;
		@include calc(top, '100% + 15px' );
		width: 300px;

		&:after,
		&:before {
			left: auto;
			right: 16px;
		}

		& > li {
			overflow: hidden;
			padding: 0;
			position: relative;

			&.divider {
				margin: 0;
			}

			&.notif-hdr {
				font-family: $main-font-medium;
				font-size: 0.92em;
				padding: 5px 15px 10px;

				& span.badge {
					background: #dc5656;
					@include border-radius(50%);
					color: #fff;
					display: block;
					float: right;
					font-size: 0.85em;
					height: 16px;
					line-height: 16px;
					text-align: center;
					width: 16px;
				}
			}

			&.see-all-notifs {
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				font-family: $main-font-medium;
				font-size: 0.92em;
				text-align: center;
			}

			&:nth-last-of-type(3) > a {
				border-bottom: 0;
			}
		}

		& > li > a {
			padding: 5px 20px 5px 15px;
			white-space: normal;

			&:focus,
			&:hover {
				background-color: #f0f9ff;
			}

			&.remove-notif {
				border-bottom: 0;
				bottom: 0;
				display: block;
				height: 14px;
				margin: auto;
				@include opacity(0);
				padding: 0;
				position: absolute;
				right: 5px;
				top: 0;
				width: 14px;
				z-index: 2;

				& svg {
					height: 10px;
					margin: 2px;
					width: 10px;
				}
			}
		}
	}

	& .dropdown-menu > li:hover a.remove-notif {
		@include opacity(0.7);

		&:hover {
			@include opacity(1);
		}
	}
}

.user-login-area {
	display: inline-block;
	margin: 0 0 0 24px;
	position: relative;
	vertical-align: middle;

	& .user-img {
		border: 2px solid #e0e0e0;
		@include border-radius(50%);
		display: inline-block;
		height: 50px;
		margin: 0 10px 0 0;
		overflow: hidden;
		vertical-align: middle;
		width: 50px;

		& img {
			@include border-radius(50%);
			display: block;
		}
	}

	& a.user-name {
		color: #535353;
		font-family: $main-font-medium;
		font-size: 0.92em;
		display: inline-block;
		min-width: 80px;
		@include padding(0 16px 0 0);
		position: relative;
		vertical-align: middle;

		& .fa {
			color: #9f9f9f;
			font-size: 20px;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:hover {
			color: #0e7bcb;
		}
	}
}

.toggle-avialability {
	border-bottom: 2px solid #e5e5e5;
	display: block;
	float: left;
	padding: 5px 0 10px;
	width: 100%;

	& a {
		border: 2px solid #e5e5e5;
		color: #686868;
		display: block;
		float: left;
		line-height: 30px;
		text-align: center;
		width: 50%;

		&:first-of-type {
			border-right-width: 1px;
		}

		&:last-of-type {
			border-left-width: 1px;
		}

		&:hover {
			background: #efefef;
			color: #686868;
		}

		&.active {
			background: #1575bb;
			border-color: #1575bb;
			color: #fff;
		}
	}
}

.sub-navigation {
	background: #616161;
	display: block;
	padding: 13px 0;

	& li {
		display: block;
		float: left;
		font-family: $main-font-medium;
		font-size: 0.92em;
		list-style: none;
		margin: 0 42px 0 0;
		text-transform: uppercase;

		& a {
			color: #fff;
			display: inline-block;
		}

		&:hover a {
			color: #d1d2d3;
		}
	}
}
